<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <button *ngIf="isLoggedIn" ion-button (click)="logout()">Logout</button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Home Page</h1>
  <h3 *ngIf="!isLoggedIn">Login into the Application to continue.</h3>
  <h3 *ngIf="isLoggedIn">Hi {{userName}}, Welcome to the application.</h3>
  <div *ngIf="!isLoggedIn">
    <button ion-button round (click)="goToPage('Login')">Login</button>
    <button ion-button round (click)="goToPage('Signup')">Signup</button>
  </div>
  <div *ngIf="isLoggedIn">
    <button ion-button round (click)="goToPage('Youtube')">Youtube</button>
  </div>
  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>
