<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5 *ngIf="!sharedService.isLoggedIn">Login into the Application to continue.</h5>
  <h5 *ngIf="sharedService.isLoggedIn">Hi {{userName}}. Welcome to the application.</h5>
  <div *ngIf="!sharedService.isLoggedIn">
    <button ion-button block (click)="goToPage('Login')">Login</button>
    <button ion-button block (click)="goToPage('Signup')">Signup</button>
  </div>
  <div *ngIf="sharedService.isLoggedIn">
    <button ion-button block (click)="goToPage('Youtube')">Knolx Videos</button>
  </div>
  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>
